*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background: #000000 ;
  color:#f4f3ff;

}
html{
  font-size: 120%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li{
  list-style: none;
}
/* Define styles for NavLink */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px; /* Adjust spacing between nav items as needed */
}

/* Styles for the active NavLink */
.activeLink {
    color: #ff0000; /* Set the color for active link */
}
.two-grid-col{
  width: 100%; 
  color: #f4f3ff;
}

.reg-image, .reg-form {
  display: inline-block;
  width: 50%; /* Adjust the width as needed */
  vertical-align: top; /* Align the divs to the top */
  box-sizing: border-box; /* Ensure padding and border don't affect width */
}
.submit-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

