.container {
    max-width: 90vw; /* Adjust as needed */
    padding: 1.2rem 1.4rem;
    display: flex;
    justify-content: space-between;
    margin: 10px auto; /* Adjust margin to create space from top */
    font-family: fantasy;
    background-color: rgb(0, 0, 0);
    border-radius: 15px; /* Rounded corners */
  }
  
.ul{
   display: flex;
    gap: 3.2rem;
}/* Define styles for NavLink */
/* NavBar.css */

.navLink {
    color: rgb(255, 251, 251); /* Default color for nav links */
    text-decoration: none;
  }
  
  .activeLink {
    color: red; /* Color for active nav link */
  }
  .appBar {
    background-color: transparent; /* Set the background color to transparent */
  }
  